h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

a {
    text-decoration: none;
    /* color: white; */
}

.list-item {
    display: flex;
    border: 2px solid lightgray;
    border-radius: 8px;
    width: 1fr;
}

/* .list {
    color: black;
} */