.google-map {
	display: flex;
	width: 2fr;
	height: 50%;
}

.pin-text {
	font-size: 20px;
}

@media screen and (min-width: 799px) {
	.google-map {
		height: 80vh;
	}
}

/* I used some css from https://blog.logrocket.com/a-practical-guide-to-integrating-google-maps-in-react/ for this styling.  */
